.popup__input-error {
    visibility: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    margin-left: 36px;
  }